<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--     <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <link rel="stylesheet" href="aboutCSS.css">
    <link rel="stylesheet" href="stylesheet2.css">

    <link rel="stylesheet" type="text/css"
          href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="stylesheet2.css">
    <style>
        @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sedgwick+Ave&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');

    </style>

</head>
<body>
<header>
    <div>
        <a href="index.html">
        </a>
        <a href="index.html">
            <label class="logo"><img src="F%20I-logos_white%201.png" alt="logo"></label>

        </a>
        <input class="nav-toggle" type="checkbox" id="nav-toggle">
        <nav>
            <ul id="nav-ul">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html" class="active">About</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
    </div>
</header>
<div class="section">
    <div class="container">
        <div class="title">
            <h1>Hello, I am Fuad</h1>
        </div>
        <div class="content">
            <div class="article">
                <h3>-My Background</h3>
                <p>I am an Information Technology student who loves solving problems while collaborating with team
                    members.
                    I have basic web development skills and fundamental knowledge of information networking.
                    Currently, attending the University of Washington with an expected graduation of winter 2023.
                    I also have two years of experience in logistics operation and management at Amazon logistics.
                    I worked at Amazon as operations lead where I co-led a team of 20 daily.
                    Currently, seeking summer 2023 Information Technology Internship</p>
                <div class="button">
                    <a href="https://www.linkedin.com/in/fuadi/">Hire Me</a>
                </div>
            </div>
        </div>
        <div class="image">
            <img src="pp-removebg%201.png" alt="">
        </div>
        <div class="social">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/fuadi/"><i class="fab fa-linkedin-in"></i></a>

        </div>

    </div>

</div>
</body>
</html>
