@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sedgwick+Ave&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --background: #15A083;

}
.section {
    width: 100%;

}

.section .container {
    width: 80%;
    display: block;
    margin: 0 auto;

}

.container .title {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.container .title h1 {
    text-transform: uppercase;
    font-size: 35px;
    color: #15A083;
    margin-top: 40px;

}

.content {
    float: left;
    width: 55%;
}

.image {
    float: right;
    width: 40%;
}

.image img {
    width: 100%;
    height: auto;
}

.content .article h3 {
    color: #3D3D3D;
    font-size: 17px;


}

.content .article p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    font-weight: bolder;
}

.content .article .button {
    margin-top: 50px;
}

.content .article .button a {
    text-decoration: none;
    padding: 8px 25px;
    background-color: #15A083;
    border-radius: 40px;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 2px;
}

.content .article .button a:hover {
    color: #ffffff;
    background-color: #333333;
    transition: 1s ease;
}

.container .social {
    width: 100%;
    clear: both;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
}

.container .social i {
    font-size: 22px;
    color: #ffffff;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 45px;
    text-align: center;
    background-color: #15A083;
    margin: 0 5px;
}

.container .social i:hover {
    color: #ffffff;
    background-color: #333333;
    transition: 1s ease;
    transform: rotate(360deg);
}

@media screen and (max-width: 768px) {
    .section.container {
        width: 80%;
        display: block;
        margin: auto;
    }

    .content {
        float: none;
        width: 100%;
        display: block;
        margin: auto;

    }

    .image {
        float: none;
        width: 100%;
        margin-top: 50px;
    }

    .image img {
        width: 100%;
        height: auto;
        display: block;
        margin: auto;

    }

    .container .title h1 {
        text-align: center;
        font-size: 30px;

    }

    .container .article .button {
        text-align: center;

    }

    .container .article .button a {
        padding: 6px 15px;
        font-size: 16px;
    }

    .container .social i {
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 35px;
    }

}

